/* Font Face */
@font-face {
  font-family: 'iFont-sf-dmedium';
  src: url(font/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Medium.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iFont-sf-dregular';
  src: url(font/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iFont-sf-rmedium';
  src: url(font/San-Francisco-Pro-Fonts-master/SF-Pro-Rounded-Medium.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iFont-sf-rregular';
  src: url(font/San-Francisco-Pro-Fonts-master/SF-Pro-Rounded-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iFont-sf-tmedium';
  src: url(font/San-Francisco-Pro-Fonts-master/SF-Pro-Text-Medium.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iFont-sf-tregular';
  src: url(font/San-Francisco-Pro-Fonts-master/SF-Pro-Text-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

/* Add similar @font-face rules for other fonts */

/* Navbar */
body {
  background-color: #fff;
}
#navbar {
  background-color: #fff;

}

.navbar-container {
  display: flex;
  justify-content: end;
  align-items: center;

}

.navbar-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: auto;
}

.navbar-list-list {
  padding: 15px 20px;
  font-family: 'iFont-sf-dregular', sans-serif;
  font-size: 20px;
  color: #000;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-blog {
  font-family: 'iFont-sf-dregular', sans-serif;
  font-size: 20px;
  padding: 10px 15px;
  margin: 10px auto;
  color: #000;
  opacity: 0.7;
  text-align: left;
}

.navbar-list-list a {
  text-decoration: none;
  color: #000;
  opacity: 0.7;
  align-items: center;
  justify-content: center;
}

.navbar-list-list a:hover {
  color: #fff;
  opacity: 1;
}
/* blog */
#blog {
  width: 600px;
  display: block;
  margin: 10px auto;
}
.blog-content {
  margin: 50px auto;
}

.blog-header {
  font-family: 'iFont-sf-rregular', sans-serif;
  font-weight: 700;
  margin-left: 3px;
}
.header-small {
  margin-left: 3px;
  font-family: 'iFont-sf-rregular', sans-serif;
  font-size: 24px;
}
.blog-text {
  font-family: 'iFont-sf-rmedium', sans-serif;
  opacity: 0.8;
  line-height: 2;
  font-size: 18px;
}

.blog-link {
  font-family: 'iFont-sf-rmedium', sans-serif;
  opacity: 0.8;
  line-height: 1.8;

}
.blog-link-uz {
  font-family: 'iFont-sf-rmedium', sans-serif;
  opacity: 0.8;
  line-height: 1.8;
}
.song-lyrics {
  white-space: pre-line;
}

.link-logo {
  font-family: 'iFont-sf-dregular', sans-serif;
  font-size: 20px;
  color: #000;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

}
.logo-img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border: 1px solid white;
  border-radius: 50%;
  object-fit: cover;
}

.img {
  width: 600px;
  height: 400px;
  object-fit: contain;
}


@media (max-width: 480px) {
/* Font Face */
@font-face {
  font-family: 'iFont-sf-dmedium';
  src: url(font/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Medium.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iFont-sf-dregular';
  src: url(font/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iFont-sf-rmedium';
  src: url(font/San-Francisco-Pro-Fonts-master/SF-Pro-Rounded-Medium.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iFont-sf-rregular';
  src: url(font/San-Francisco-Pro-Fonts-master/SF-Pro-Rounded-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iFont-sf-tmedium';
  src: url(font/San-Francisco-Pro-Fonts-master/SF-Pro-Text-Medium.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iFont-sf-tregular';
  src: url(font/San-Francisco-Pro-Fonts-master/SF-Pro-Text-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

/* Add similar @font-face rules for other fonts */

/* Navbar */
body {
  background-color: #fff;
}
#navbar {
  width: 100%;
  background-color: #fff;
  margin-left: 3%;

}

.navbar-container {
  display: flex;
  justify-content: end;
  align-items: center;

}

.navbar-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.telegram-list .instagram-list {
  margin-left: -3px;
}

.navbar-list-list {
  padding: 4px;
  font-family: 'iFont-sf-dregular', sans-serif;
  font-size: 14px;
  color: #000;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-blog {
  font-family: 'iFont-sf-dregular', sans-serif;
  font-size: 16px;
  margin-top: 10px;
  margin-left: -15px;
  color: #000;
  opacity: 0.7;
  text-align: left;
  text-decoration: none;

}

.navbar-list-list a {
  text-decoration: none;
  color: #000;
  opacity: 0.7;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.navbar-list-list a:hover {
  color: #fff;
  opacity: 1;
}
/* Blog part */
#blog {
  width: 100%;
  display: block;
  margin: 10px auto;
}
.blog-content {
  margin: 50px auto;
}

.blog-header {
  font-family: 'iFont-sf-rregular', sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-left: 3px;
}
.blog-text {
  font-family: 'iFont-sf-rmedium', sans-serif;
  opacity: 0.7;
  line-height: 1.8;
  margin-left: 5px;
  font-size: 18px;
}
.blog-link {
  font-family: 'iFont-sf-rmedium', sans-serif;
  opacity: 0.8;
  line-height: 1.8;

}
.blog-link-uz {
  font-family: 'iFont-sf-rmedium', sans-serif;
  opacity: 0.8;
  line-height: 1.8;
}

.link-logo {
  font-family: 'iFont-sf-dregular', sans-serif;
  font-size: 14px;
  color: #000;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.logo-img {
  width: 14px;
  height: 14px;
  border: 1px solid white;
  border-radius: 50%;
  object-fit: cover;
}

.img, .video-kanye {
  width: 300px;
  height: 200px;
  object-fit: contain;
  margin-left: 15px;
}
}
